<section class="contact">
	<span class="contact__container">
		<img class="contact__img" src="./../../assets/images/redes/instagram.png" alt="">
		<p class="contact__text"></p>
		<p class="contact__visibility">@fedefontanaa__</p>
	</span>
	<span class="contact__container">
		<img class="contact__img" src="./../../assets/images/redes/whatsapp.png" alt="">
		<p class="contact__text"></p>
		<p class="contact__visibility">+54 3482 672468</p>
	</span>
	<span class="contact__container">
		<img class="contact__img" src="./../../assets/images/redes/telefono.png" alt="">
		<p class="contact__text"></p>
		<p class="contact__visibility">+54 3482 672468</p>
	</span>
	<div id="particles-two-js"></div>
</section>