<section class="about">
	<span class="about__imgs">
		<img class="about__img" src="/assets/images/about-me/image.jpg">
	</span>
	<span class="about__texts">
		<h3 class="about__title">About Me</h3>
		<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br><br>	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<span class="about__btns">
			<a class="about__btn about__download" href="">Download  CV</a>
			<a class="about__btn about__portfolio" href="">Portfolio</a>
		</span>
	</span>
	<div class="admin">
		<a class="admin__enlace" href="#">
			<img class="admin__img" src="./../../assets/images/admin/add.png" alt="">
		</a>
		<a class="admin__enlace" href="#">
			<img class="admin__img" src="./../../assets/images/admin/edit.png" alt="">
		</a>
		<a class="admin__enlace" href="#">
			<img class="admin__img" src="./../../assets/images/admin/delete.png" alt="">
		</a>
	</div>
</section>