<section class="about" id="about">
	<span class="about__imgs">
		<img class="about__img" src="{{ people.image }}">
	</span>
	<span class="about__texts">
		<h3 class="about__title">About Me</h3>
		<span class="admin__container" *ngFor="let About of about">
			<p class="about__text">{{ About.text }}</p>
			<span class="admin__actions">
				<a class="admin__action" routerLink="/editabout/{{ About.id }}" title="edit" *ngIf="isLogged">
					<img class="admin__ico" src="./../../assets/images/admin/edit.png" alt="">
					<p class="admin__admin">edit</p>
				</a> 
				<a class="admin__action" (click)="delete(About.id)" title="delete" *ngIf="isLogged">
					<img class="admin__ico" src="./../../assets/images/admin/delete.png" alt="">
					<p class="admin__admin">delete</p>
				</a>
			</span>
		</span>
		<span class="about__btns">
			<a class="about__btn about__download" href="">Download  CV</a>
			<a class="about__btn about__portfolio" href="#portfolio">Portfolio</a>
		</span>
	</span>
	<div class="admin">
		<a class="admin__enlace" routerLink="/newabout" *ngIf="isLogged">
			<img class="admin__img" src="./../../assets/images/admin/add.png" alt="">
		</a>
	</div>
</section>
