.about {
	width: 100%;
	display: flex;
	align-items: center;
	padding-block: 10vw;
	background: var(--color-primary);
	position: relative;
}

.about__imgs {
	margin-inline: 8vw 0;
	width: 20vw;
	height: auto;
	visibility: hidden;
	transition: .4s all ease;
	border-top: .4vw solid var(--color-secundary);
	border-left: .4vw solid var(--color-secundary);
	transform: rotate(3deg);
}

.about__img {
	width: 100%;
	height: auto;
	position: relative;
	transition: .3s all ease;
	transform: rotate(-6deg);
}

.about__img:hover {
	transform: rotate(-6deg) scale(1.08);
	filter: drop-shadow(2px 4px 6px black);
}

.about__texts {
	width: 50%;
	margin-inline: 10%;
}

.about__title {
	color: var(--color-secundary);
	font-family: var(--font-family-bold);
	font-size: 2.3vw;
	visibility: hidden;
	transform: translateY(50%);
	transition: .5s all ease;
}

.about__text {
	color: var(--color-text);
	font-family: var(--font-family-light);
	font-size: 1.4vw;
	font-weight: 100;
	margin-block: .8vw;
	transform: translateY(0);
	transition: .5s all ease;
}

.about__btns {
	display: flex;
	margin-block: 2vw 0;
}

.about__btn {
	color: var(--color-white);
	font-family: var(--font-family-light);
	font-size: 1.4vw;
	font-weight: 100;
	text-decoration: none;
	padding: .2vw 2vw;
	border-radius: 1.3vw;
	border: 2px solid var(--color-secundary);
	background: transparent;
	position: relative;
	visibility: hidden;
	transform: translateY(50%);
	transition: .4s all ease;
}

.about__download:after {
	content: 'Download CV';
	color: var(--color-white);
	font-family: var(--font-family-light);
	font-size: 1.4vw;
	font-weight: 100;
	white-space: nowrap;
	padding: .2vw 2vw;
	border-radius: 1.3vw;
	border: 2px solid var(--color-secundary);
	background: transparent;
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: 200;
}

.about__download:before {
	content: '';
	width: calc(100% + 2.5px);
	height: calc(100% + 2.5px);
	background: var(--color-secundary);
	position: absolute;
	top: -1px;
	right: -1px;
	border-radius: 1.3vw;
	transition: .5s all ease;
	z-index: 100;
}

.about__download:hover:before {
	width: 0;
}

.about__portfolio {
	background: none;
	margin-inline: 1vw 0;
	transition: .6s all ease;
}

.about__portfolio:after {
	content: 'Portfolio';
	color: var(--color-white);
	font-family: var(--font-family-light);
	font-size: 1.4vw;
	font-weight: 100;
	white-space: nowrap;
	padding: .2vw 2vw;
	border-radius: 1.3vw;
	border: 2px solid var(--color-transparent);
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}

.about__portfolio:before {
	content: '';
	width: 0;
	height: calc(100% + 2.5px);
	background: var(--color-secundary);
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius: 1.3vw;
	transition: .4s all ease;
	z-index: 100;
}

.about__portfolio:hover:before {
	width: calc(100% + 2.5px);
}

/* Admin */
.admin__container {
	display: flex;
	align-items: center;
}

.admin__actions {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.admin__action {
	display: flex;
	text-decoration: none;
	align-items: center;
	margin-inline: 1vw;
	cursor: pointer;
	margin-block: 5px;
}

.admin__ico {
	height: 1.5vw;
	width: auto;
}

.admin__admin {
	color: var(--color-white);
	font-family: var(--font-family-light);
	font-weight: 100;
	font-size: 1vw;
	text-decoration: none;
	padding-block: .2vw 0;
}

@media screen and (max-width: 750px) {
	.about { flex-direction: column; }
	.about__imgs { margin-inline: 0; width: 30vw; height: 45vw; margin-block: 0 4vw; }
	.about__texts { width: 90%; margin-inline: 5%; }
	.about__title { font-size: 3.5vw; text-align: center; }
	.about__text { font-size: 2.5vw; }
	.about__btns { justify-content: center; }
	.about__download, .about__download:after, .about__download:before { font-size: 3vw; border-radius: 3vw; }
	.about__portfolio, .about__portfolio:after, .about__portfolio:before {  font-size: 3vw; border-radius: 3vw;  }
}