<!-- new service -->
<section class="options">
    <p class="options__enlace">ADD</p>
    <h2 class="options__subtitle">ABOUT ME</h2>
</section>
<!-- Main -->
<main class="main">
    <form class="form" #f="ngForm" (ngSubmit)="onCreate()" novalidate> 
        <label class="form__lbl" for="text">PARRAFO</label>
        <input class="form__input" type="text" id="text" name="text" [(ngModel)]="text" placeholder="This is an ..." required>
        <input class="form__input" type="hidden" id="extra" name="extra" [(ngModel)]="extra" value="22" placeholder="This is ..." required>
        <button class="form__submit" type="submit">ENVIAR</button>
    </form>
</main>