<!-- new experience -->
<section class="options">
    <p class="options__enlace">ADD</p>
    <h2 class="options__subtitle">EXPERIENCE</h2>
</section>
<!-- Main -->
<main class="main">
    <form class="form" #f="ngForm" (ngSubmit)="onCreate()" novalidate> 
        <label class="form__lbl" for="nameE">NOMBRE DE LA EXPERIENCA</label>
        <input class="form__input" type="text" id="nameE" name="nameE" [(ngModel)]="nameE" required>
        <label class="form__lbl" for="descriptionE">DESCRIPCION</label>
        <input class="form__input" type="text" id="descriptionE" name="descriptionE" [(ngModel)]="descriptionE" required>
        <label class="form__lbl" for="imageE">IMAGEN URL</label>
        <input class="form__input" type="text" id="imageE" name="imageE" [(ngModel)]="imageE" required>
        <input class="form__submit" type="submit" name="">
    </form>
</main>