<section class="works" id="portfolio">
	<h3 class="works__title">Portfolio</h3>
	<span class="works__container">
		<span class="works__content" *ngFor="let Experience of expe">
			<img class="works__company" src="{{ Experience.imageE }}" alt="image">
			<span class="works__icos">
				<a class="works__action" href="{{ Experience.nameE }}" title="visit" target="_blank">
					<img class="works__ico" src="./../../assets/images/works/visit.png" alt="">
					<p class="works__text">visit</p>
				</a>
				<a class="works__action" routerLink="/editportfolio/{{Experience.id}}" title="edit" *ngIf="isLogged">
					<img class="works__ico" src="./../../assets/images/admin/edit.png" alt="">
					<p class="works__text">edit</p>
				</a> 
				<a class="works__action" (click)="delete(Experience.id)" title="delete" *ngIf="isLogged">
					<img class="works__ico" src="./../../assets/images/admin/delete.png" alt="">
					<p class="works__text">delete</p>
				</a>
			</span>
		</span>
	</span>
	<div class="admin">
		<a class="admin__enlace" routerLink="/newportfolio" *ngIf="isLogged">
			<img class="admin__img" src="./../../assets/images/admin/add.png" alt="">
		</a>
	</div>
</section>