<section class="message">
	<h3 class="message__title">Contact</h3>
	<span class="message__container">
		<form class="message__form" action="" method="POST">
			<span class="message__span">
				<input class="message__input" type="text" name="name" placeholder="Name">
				<input class="message__input" type="email" name="email" placeholder="Email">
			</span>
			<input class="message__inputs" type="text" name="subject" placeholder="Subject">
			<textarea class="message__textarea" placeholder="Message"></textarea>
			<input class="message__btn" type="submit" value="send">
		</form>
		<span class="message__contact">
			<a class="message__link" href="">
				<img class="message__ico" src="./../../assets/images/redes/whatsapp.png" alt="Whatsapp">
				<p class="message__text">+54 3482 672468</p>
			</a>
			<a class="message__link" href="">
				<img class="message__ico" src="./../../assets/images/redes/telefono.png" alt="Phone">
				<p class="message__text">+54 3482 672468</p>
			</a>
			<a class="message__link" href="">
				<img class="message__ico" src="./../../assets/images/redes/email.png" alt="Email">
				<p class="message__text">fontana.utn@gmail.com</p>
			</a>
		</span>
	</span>
</section>