<header class="header">
	<a href="/" class="header__href-logo" title="Federico Fontana">
		<img class="header__img" src="./../../assets/images/logo.png" alt="Argentina Programa">
	</a>
	<nav class="header__nav">
		<ul class="header__list">
			<li class="header__items">
				<a href="#" class="header__href" title="Home">Home</a>
			</li>
			<li class="header__items">
				<a href="#" class="header__href" title="About me">About me</a>
			</li>
			<li class="header__items">
				<a href="#" class="header__href" title="Services">Services</a>
			</li>
			<li class="header__items">
				<a href="#" class="header__href" title="Portfolio">Portfolio</a>
			</li>
		</ul>
	</nav>
	<nav class="header__nav-resp">
		<ul class="header__menu-responsive">
			<li class="header__items">
				<svg class="header__ico" id="menu_show-resp" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
					<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
						<path d="M0 3985 l0 -285 2560 0 2560 0 0 285 0 285 -2560 0 -2560 0 0 -285z"/>
						<path d="M0 2560 l0 -280 2560 0 2560 0 0 280 0 280 -2560 0 -2560 0 0 -280z"/>
						<path d="M0 1135 l0 -285 2560 0 2560 0 0 285 0 285 -2560 0 -2560 0 0 -285z"/>
					</g>
				</svg>
				<svg class="header__ico" id="menu_exit-resp" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
					<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
						<path d="M257 4863 l-257 -258 1022 -1022 1023 -1023 -1023 -1023 -1022 -1022 257 -258 258 -257 1022 1022 1023 1023 1023 -1023 1022 -1022 258 257 257 258 -1022 1022 -1023 1023 1023 1023 1022 1022 -257 258 -258 257 -1022 -1022 -1023 -1023 -1023 1023 -1022 1022 -258 -257z"/>
					</g>
				</svg>
			</li>
			<span class="header__options" id="header_options-resp">
				<li class="header__items">
					<a href="#" class="header__text" title="Home">Home</a>
				</li>
				<li class="header__items">
					<a href="#" class="header__text" title="About me">About me</a>
				</li>
				<li class="header__items">
					<a href="#" class="header__text" title="Services">Services</a>
				</li>
				<li class="header__items">
					<a href="#" class="header__text" title="Portfolio">Portfolio</a>
				</li>
			</span>
		</ul>
	</nav>
</header>