<!-- Logo inicio -->
<section class="options">
    <a href="/" class="options__enlace">LOGIN</a>
    <h2 class="options__subtitle">ADMIN</h2>
</section>
<!-- Main -->
<main class="main">
    <form class="form" #f="ngForm" (ngSubmit)="onLogin()" novalidate> 
        <label class="form__lbl" for="nameUser">USUARIO</label>
        <input class="form__input" type="email" id="nameUser" name="nameUser" [(ngModel)]="nameUser" required>
        <label class="form__lbl" for="password">CONTRASEÑA</label>
        <input class="form__input" type="password" id="password" name="password" [(ngModel)]="password" required>
        <button class="form__submit" type="submit">ENVIAR</button>
    </form>
</main>