.services {
	width: 90%;
	padding-inline: 5%;
	padding-block: 0 4vw;
	background: var(--color-primary);
	position: relative;
}

.services__title {
	color: var(--color-secundary);
	font-family: var(--font-family-bold);
	font-size: 2.3vw;
	text-align: center;
}

.services__container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-block: 3vw 0;
}

.services__content {
	width: 28%;
	background: var(--color-tercery);
	margin-block-end: 3vw;
	padding-block: 1vw;
	filter: drop-shadow(2px 4px 6px black);
	transition: .3s all ease;
	cursor: pointer;
}

.services__content:nth-child(odd) {
	transform: rotate(2deg);
}

.services__content:nth-child(even) {
	transform: rotate(-2deg);
}

.services__content:hover {
	transform: scale(1.08);
}

.services__content:nth-child(odd):hover {
	transform: scale(1.08) rotate(-2deg);
}

.services__content:nth-child(even):hover {
	transform: scale(1.08) rotate(2deg);
}

.services__ico {
	width: 3vw;
	height: auto;
	margin: 1vw 2vw;
}

.services__subtitle {
	color: var(--color-white);
	font-family: var(--font-family-medium);
	font-size: 1.4vw;
	margin-inline: 2vw;
}

.services__text {
	color: var(--color-text);
	font-family: var(--font-family-light);
	font-size: 1.2vw;
	font-weight: 100;
	margin: 1vw 2vw;
}

.services__abilities {
	width: 80%;
	display: flex;
	align-items: center;
	margin-inline: 10%;
}

.services__ability {
	width: 1.8vw;
	margin-inline: .4vw;
	filter: grayscale(1);
}

.ability {
	filter: none;
	transition: .3s all ease;
}
/* Admin */
.services__actions {
	display: flex;
	align-items: center;
	position: absolute;
	top: 1vw;
	right: 1vw;
}

.services__action {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	align-items: center;
	margin-inline: 1vw;
	cursor: pointer;
}

.services__icoadmin {
	height: 1.8vw;
	width: auto;
}

.services__admin {
	color: var(--color-white);
	font-family: var(--font-family-light);
	font-weight: 100;
	font-size: 1vw;
	text-decoration: none;
	padding-block: .2vw 0;
}

@media screen and (max-width: 750px) {
	.services__title { font-size: 3.5vw; }
	.services__content { width: 45%; }
	.services__ico { width: 6.5vw; }
	.services__subtitle { font-size: 3vw; }
	.services__text { font-size: 2.3vw; }
	.services__abilities { justify-content: center; }
	.services__ability { width: 5vw; }
}