<section class="services">
	<h3 class="services__title">Services</h3>
	<span class="services__container">
		<span class="services__content" *ngFor="let Knowledge of knowledge">
			<img class="services__ico" src="{{ Knowledge.imageK }}" alt="{{ Knowledge.nameK }}">
			<p class="services__subtitle">{{ Knowledge.nameK }}</p>
			<p class="services__text">{{ Knowledge.descriptionK }}</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
		<span class="services__content">
			<img class="services__ico" src="./../../assets/images/services/frontend.png" alt="frontend developer">
			<p class="services__subtitle">Front End</p>
			<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
		<span class="services__content">
			<img class="services__ico" src="./../../assets/images/services/backend.png" alt="backend developer">
			<p class="services__subtitle">Back End</p>
			<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
		<span class="services__content">
			<img class="services__ico" src="./../../assets/images/services/deploy.png" alt="deploy">
			<p class="services__subtitle">Deploy Web</p>
			<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
		<span class="services__content">
			<img class="services__ico" src="./../../assets/images/services/database.png" alt="databese">
			<p class="services__subtitle">Base de datos</p>
			<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
		<span class="services__content">
			<img class="services__ico" src="./../../assets/images/services/dns.png" alt="dns zone">
			<p class="services__subtitle">DNS Zone</p>
			<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
		<span class="services__content">
			<img class="services__ico" src="./../../assets/images/services/seo.png" alt="seo web">
			<p class="services__subtitle">SEO</p>
			<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<span class="services__abilities">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability ability" src="./../../assets/images/services/ability.png" alt="ability">
				<img class="services__ability" src="./../../assets/images/services/ability.png" alt="ability">
			</span>
		</span>
	</span>
</section>