<main class="main">
	<p class="main__text">HELLO I ´ M</p>
	<span class="main__titles">
		<h1 class="main__title">WEB DEVELOPER</h1>
		<h2 class="main__subtitle">{{ people.lastname }} {{ people.name }}</h2>
	</span>
	<p class="main__description">Welcome to my web portfolio! I'm a full-stack web developer passionate about creating engaging digital experiences. I design pixel-perfect front-ends and develop robust back-ends with cutting-edge technologies. Check out my portfolio and get in touch if you'd like to collaborate.</p>
	<a class="main__download" href="#">Download CV</a>
	<div id="particles-js"></div>
	<div class="main__redes">
		<a class="main__enlace" href="#">
			<img class="main__img" src="./../../assets/images/redes/instagram.png" alt="">
		</a>
		<a class="main__enlace" href="#">
			<img class="main__img" src="./../../assets/images/redes/whatsapp.png" alt="">
		</a>
		<a class="main__enlace" href="#">
			<img class="main__img" src="./../../assets/images/redes/telefono.png" alt="">
		</a>
	</div>
	<div class="admin" *ngIf="isLogged">
		<a class="admin__enlace" href="#">
			<img class="admin__img" src="./../../assets/images/admin/edit.png" alt="">
		</a>
		<a class="admin__enlace" href="#">
			<img class="admin__img" src="./../../assets/images/admin/delete.png" alt="">
		</a>
	</div>
</main>